@import url('https://fonts.googleapis.com/css2?family=Cookie');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
:root{
  --light-red: #D91C0B;
  --dark-red: #B7190B;
  --light-black: #1E1E1E;
  --dark-black: #060606;
  --light-white: #f8f9fa;
  --dark-white: #e9ecef;
  --white-skin: #ffccbf;
}
body{
  background: #732021;
  overflow: hidden;
}
#text, #shadow, #bg, #head, #beard, #hat, #boots1, #boots2, .eye, .ml4 {
  position:absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  top:50%;
  left:50%;
}
#text{
    text-align:center;
    top:calc(50% - 220px);
    display: none;
}
#text>p{
  font-family: 'Cookie', cursive;
  font-size:50px;
  color: #ffffff;
  animation: glow 3.5s ease-in-out infinite alternate;  
  margin:0;
}

#shadow{
  top:calc(50% + 160px);
  width:200px;
  height:80px;
  background: #5F1B1C;
  border-radius:100%;
}
#bg{
  height: 400px;
  width: 400px;
  background: transparent;
  border-radius: 20px;
}
#head{
  width:60px;
  height:60px;
  background:var(--white-skin);
  top:calc(50% - 80px);
  border-radius: 0 0 50% 50%;
  z-index:3;
}
#beard{
  width:45px;
  height:45px;
  background:var(--light-white);
  border-radius:50%;
  top:calc(50% - 50px);
  z-index:6;
}
#beard>div{
  width:25px;
  height:25px;
  position:absolute;
  background:var(--light-white);
  border-radius:50%;
}
#beard>div[a]{
  top:0px;
  left:-12px;
  -webkit-box-reflect: right 20px;
}
#beard>div[b]{
  top:12px;
  left:-8.5px;
  -webkit-box-reflect: right 15px;
}
#beard>div[c]{
  top:18px;
  left:-7px;
  -webkit-box-reflect: right 8px;
}
#beard>div[d]{
  top:35px;
  left:-2px;
  -webkit-box-reflect: right 0px;
}
#beard>div[e]{
  top:40px;
  left:9px;
}
#beard>div[f]{
  width:20px;
  height:20px;
  top:-8px;
  left:-16px;
  -webkit-box-reflect: right 38px;
}
#beard>div[g]{
  width:15px;
  height:15px;
  top:-17px;
  left:-16px;
  -webkit-box-reflect: right 48px;
}
#beard>div[h]{
  width:12px;
  height:12px;
  top:-25px;
  left:-14px;
  -webkit-box-reflect: right 50px;
}
#beard>div[i]{
  width:10px;
  height:10px;
  top:-32px;
  left:-12px;
  -webkit-box-reflect: right 49px;
}

#hat{
  width:60px;
  height:60px;
  background:var(--light-red);
  top:calc(50% - 140px);
  border-radius: 80px 0 0 0;
  z-index:4;
}
#hat::after{
  content:'';
  position:absolute;
  width:80px;
  height:20px;
  border-radius:5px;
  background:var(--light-white);
  top: 50px;
  left:-10px;
}
#hat::before{
  content:'';
  position:absolute;
  width:20px;
  height:20px;
  border-radius:50%;
  background:var(--light-white);
  top: -10px;
  left:50px;
}

#top-body{
  background:var(--light-red);
  position:absolute;
  transform: translate(-50%, -50%) rotate(-25deg);
  top:calc(50% - 10px);
  left:calc(50% + 25px);
  width:60px;
  height:130px;
  z-index:2;
}
#hand1 .top, #hand2 .top{
  background:var(--dark-red);
  position:absolute;
  transform: translate(-50%, -50%) rotate(25deg);
  top:calc(50% - 0px);
  left:calc(50% - 25px);
  width:20px;
  height:80px;
  z-index:1;
  border-radius: 0 0 10px 0;
}
#hand2{
  z-index:4;
  position:absolute;
  transform: translate(-50%, -50%) rotate(10deg);
  top:50%;
  left:50%;
  animation:hand1-anim .5s ease infinite;
  animation-play-state: paused;
}
#hand1{
  position:absolute;
  transform: translate(-50%, -50%) rotate(10deg);
  top:50%;
  left:50%;
  animation:hand1-anim .4s ease infinite;
  animation-play-state: paused;
}
#hand2 .top{
  background: var(--light-red);
  border-radius: 50px 50px 50px 0;
  top:calc(50% + 10px);
  left:calc(50% + 10px);
  z-index:4;
  box-shadow: 0px -5px 0px 0 var(--dark-red);
}
#hand1 .medium, #hand2 .medium{
  background:var(--dark-red);
  position:absolute;
  transform: translate(-50%, -50%) rotate(-25deg);
  top:calc(50% + 9px);
  left:calc(50% - 51px);
  width:20px;
  height:60px;
  z-index:1;
  border-radius: 0 0 0 10px;
}
#hand2 .medium{
  background: var(--light-red);
  top:calc(50% + 20px);
  left:calc(50% - 16px);
}
#hand1 .bottom::after, #hand2 .bottom::after{
  content:'';
  position:absolute;
  background: var(--light-white);
  width:30px;
  height:20px;
  border-radius: 3px;
  top: 15px;
  left: -5px;
  z-index:2;
}
#hand1 .bottom, #hand2 .bottom{
  background:var(--white-skin);
  position:absolute;
  transform: translate(-50%, -50%) rotate(-25deg);
  top:calc(50% - 25px);
  left:calc(50% - 67px);
  width:20px;
  height:20px;
  z-index:1;
  border-radius: 50% 50% 0 0;
  z-index:1;
}
#hand2 .bottom{
  top:calc(50% - 15px);
  left:calc(50% - 32.5px);
}
.leg-2-top, .leg-1-top{
  background:var(--light-red);
  position:absolute;
  width:30px;
  height:60px;
}
.leg-1-top{
  transform: translate(-50%, -50%) rotate(15deg);
  top:calc(50% + 80px);
  left:calc(50% + 30px);
  z-index:4;
}
.leg-2-top{
  height:70px;
  background: var(--dark-red);
  transform: translate(-50%, -50%) rotate(40deg);
  top:calc(50% + 80px);
  left:calc(50% + 15px);
  border-radius: 0 0 0 10px;
  z-index:1;
}
.leg-2-bottom{
  background:var(--light-red);
  position:absolute;
  transform: translate(-50%, -50%);
  top:calc(50% + 135px);
  left:calc(50% + 23px);
  width:30px;
  height:60px;
  z-index:4;
}
.leg-1-bottom{
  background:var(--dark-red);
  position:absolute;
  transform: translate(-50%, -50%);
  top:calc(50% + 124px);
  left:calc(50% - 0px);
  width:30px;
  height:70px;
  z-index:3;
  border-radius: 10px 0 0 0;
}
#ass{
  position:absolute;
  transform: translate(-50%, -50%) rotate(-20deg);
  top:50%;
  left:50%;
  z-index:6;
  animation:ass-anim .3s ease infinite;
  animation-play-state: paused;
}
#ass>div{
  width: 50px;
  height:50px;
  background:var(--light-red);
  border-radius:100%;
  position:absolute;
  top:45px;
  left:40px;
}

#ass>div:last-child{
  left:10px;
  box-shadow: 10px -5px 20px var(--dark-red);
}
#boots1{
  width: 32px;
  height:40px;
  background:var(--light-black);
  top:calc(50% + 150px);
  left:calc(50% + 22.5px);
  z-index:5;
  border-radius: 0 0 5px 0px;
}
#boots2{
  width: 30px;
  height:40px;
  top:calc(50% + 140px);
  left:50%;
  background:var(--dark-black);
  z-index:3;
  border-radius: 0 0 5px 0;
}
#boots2::after, #boots1::after{
  width:40px;
  height:15px;
  border-radius:3px;
  background:var(--light-white);
  content:'';
  position:absolute;
  top:-10px;
  left:-5px;
}
#boots2::before, #boots1::before{
  width:24px;
  height:24px;
  border-radius:50% 0 0 50%;
  background:var(--dark-black);
  content:'';
  position:absolute;
  top:16px;
  left:-15px;
}
#boots1::before{
  background: var(--light-black);
  left:-15px;
}

.eye {
    left:calc(50% - 10px);
    top:calc(50% - 85px);
    background: transparent;
    width: 30px;
    height: 30px;
  	display: inline-block;
    border-radius: 50%;
  	overflow: hidden;
    z-index:6;
}
.eye.eye-2{
   left:calc(50% + 10px);
  animation: blink 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    animation-play-state: paused;
}
.eye::before {
  content: '';
  position: absolute;
  margin: auto;
  width: 10px;
  height: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  background: black;
}

.ml4 {
  top:calc(50% - 80px);
  font-weight: 900;
  font-size: 5.2em;
  z-index: 10;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: var(--light-white);
}
.social-media{
    position:absolute;
    transform: translate(-50%, -50%);
    top:calc(50% + 220px);
    left:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #401313;
    font-family:'Montserrat', sans-serif;
    font-size:14px;
    font-weight: bolder;
}
    .social-media>p{
        margin-right: 20px;
    }
    .social-media>a{
        color: #401313;
        font-size: 20px;
        margin-right: 10px;
    }
        .social-media>a:hover{
            color: var(--light-red);
            transform: scale(1.2);
        }

@keyframes ass-anim{
    0%{
    transform:translate(-50%, -50%) rotate(-20deg);
    }
    50%{
    transform:translate(-50%, -50%) rotate(-18deg);
    }
    100%{
    transform:translate(-50%, -50%) rotate(-20deg);
    }
}

@keyframes hand1-anim{
    0%{
    transform: translate(-50%, -50%) rotate(0deg);
    }
    50%{
    transform:translate(-50%, -50%) rotate(5deg);
    }
    100%{
    transform:translate(-50%, -50%) rotate(0deg);
    }
}
@-webkit-keyframes glow {
    0%{
        text-shadow: 0 0 10px #a22c29;
    }
    50%{
        text-shadow: 0 0 20px #fff;
    }
    100%{
        text-shadow: 0 0 10px #a22c29;
    }
}
@keyframes blink {
	0%, 8% {
		height: 40px;
	}
	10%, 12% {
		height: 5px;
	}
	14%, 100% {
		height: 40px;
	}
}